body{
    font-family: 'Montserrat-Black', sans-serif;

}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.4rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;
}
p{
    color: #8f8f8f;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.container{
    padding: 3% 15% 7%;
}

.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px 0px 18px;
}
.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.2rem;
}

.download-button{
    margin: 5% 3% 5% 0;
}
.phone-image-div{
    text-align: center;
    /* height: 200px;  */
    /* latest update */
}
.Phone-image{
    width: 30%;
    /* rotate: 30deg; */
    /* transform: rotate(25deg); */
    position: absolute;
    right: 50;
}
#features{
    padding: 7% 15%;
    text-align: center;
    position: relative;
    /* z-index: 1; */
    background-color: white;
}
.feature-box{
    padding: 3%;
}
.feature-h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    
}
.features-icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
    text-align: center;

    color: white;
}
.carousel-inner{
    padding: 7% 15%;
}
/* #testimonials:hover{
    background-color: #ff4c68;
} */
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 10px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 30px 20px 50px ;
}
#pricing{
    margin: 100px;
    text-align: center;
}
.card{
    margin: 3%;
}
.card-button{
    width: 100%;
}

/* Media Query */
@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .Phone-image{
        position: static;
        transform: rotate(0deg);
        width: 60%;
    }
    
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: white;
}

#footer{
    text-align: center;
    padding: 2% 15%;
}
.footer-icon{
    margin: 6px;
}